<footer class="footer">
  <div class="container">
    <p class="footer__text"> 
    <br>* Акция проводится с 02.06.2018 по 30.06.2018. Источник информации об организаторе акции, о правилах её проведения, количестве призов или выигрышей по результатам акции, сроках, месте и порядке их получения – <a target="_blank" href="https://www.ulmart.ru">ulmart.ru</a>. <a target="_blank" href="https://www.ulmart.ru/special_offers/current/open_msk_rules">Полные правила акции</a>. Цены, в т. ч. размер скидок, указаны в рублях с учётом НДС и действительны на 02.06.2018 для зарегистрированных покупателей - физических лиц при оформлении заказа на территории центра исполнения заказов (далее - ЦИЗ) в г. Москва, Фестивальная 13к1, ТЦ «У Речного». ЦИЗ Юлмарт.
<br>** Относительно цен в других центрах исполнения заказов и пунктов выдачи заказов Юлмарт. Срок действия акции с 01.06.2018 по 01.08.2018. Скидка действует только на товары, оформленные самовывозом из ЦИЗ, при условии наличия не более 2 (двух) штук наименований товара в заказе. Акция действительна только для зарегистрированных пользователей - физических лиц. Скидка не распространяется на товары из разделов: <a target="_blank" href="https://discount.ulmart.ru/">second.ulmart.ru</a>, <a target="_blank" href="https://thelabels.ulmart.ru/">thelabels.ulmart.ru</a>, а также на заказы со способом получения "Доставка". 
Количество товара ограниченно. Бонусы по маркетинговым акциям начисляются через 30 дней после покупки товаров-участников акции. Приведённое изображение может отличаться от&nbsp;внешнего вида товара в&nbsp;центрах исполнения заказов. Существенная информация&nbsp;— на&nbsp;сайте  <a target="_blank" href="https://www.ulmart.ru">ulmart.ru</a> и у сотрудников торгового зала ЦИЗ г. Москва, Фестивальная 13к1, ТЦ «У Речного». Категория сайта&nbsp;18+. ООО&nbsp;«Юлплейс», 197227, Санкт-Петербург, пр.&nbsp;Сизова, д.&nbsp;2, лит.&nbsp;А, помещение&nbsp;201, ОГРН&nbsp;1177847155562.</p>
  </div>
  <div class="social">
    <div class="container">
      <div class="social__block">
         <a class="footer__logo-link" target="_blank" href="https://www.ulmart.ru">
        <img class="footer__logo-img" src="https://fast.ulmart.ru/ns/verstka/landing/img/logo-gray.png" alt="Ulmart"/>
      </a>
      <div class="social__icon">
        <a class="share__link" target="_blank" onclick="Share.vk('https://www.ulmart.ru/dynamic/page/open_msk','Оптовые цены в Юлмарте «У Речного»','https://fast.ulmart.ru/ns/verstka/ohta/img/banner-top3.png','Оптовые цены в Юлмарте «У Речного»')"><img src="https://fast.ulmart.ru/ns/verstka/presell_galaxy_note8/img/i-vk.png" alt="" width="32"/></a>
        <a class="share__link" target="_blank" onclick="Share.facebook('https://www.ulmart.ru/dynamic/page/open_msk','Оптовые цены в Юлмарте «У Речного»','https://fast.ulmart.ru/ns/verstka/ohta/img/banner-top3.png','Оптовые цены в Юлмарте «У Речного»')"> <img src="https://fast.ulmart.ru/ns/verstka/presell_galaxy_note8/img/i-fb.png" alt="" width="32"/></a>
        <a class="share__link" target="_blank" onclick="Share.twitter('https://www.ulmart.ru/dynamic/page/open_msk','Оптовые цены в Юлмарте «У Речного»')"> <img src="https://fast.ulmart.ru/ns/verstka/presell_galaxy_note8/img/i-twitter.png" alt="" width="32"/></a>
        <a class="share__link" target="_blank" onclick="Share.ok('https://www.ulmart.ru/dynamic/page/open_msk','Оптовые цены в Юлмарте «У Речного»')"> <img src="https://fast.ulmart.ru/ns/verstka/presell_galaxy_note8/img/i-ok.png" alt="" width="32"/></a>
      </div> 
      </div>
    </div>
  </div>
</footer>