
<div class="row">

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="goods__item goods__item--three">
      <div class="goods__img">
        <a class="goods__link" href="https://www.ulmart.ru/goods/4236329" target="_blank"> 
          <img class="goods__img" src="https://fast.ulmart.ru/ns/verstka/opening_regions/msk/img/4236329.jpg"  width="180"  alt="HD LED телевизор Витязь">
        </a>
      </div>
      <div class="goods__sale">Скидка: 12%</div>
      <p class="goods__name goods__name--p goods__name--f">Телевизор Витязь 50L401B03 50", чёрный</p>
      <div class="goods__price goods__price--three">
        <p class="goods__three-old-price">24 990 р.</p>
        <p class="goods__three-new-price">21 990 р.</p>
      </div>
      <a class="btn" href="https://www.ulmart.ru/goods/4236329" target="_blank">Смотреть</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="goods__item goods__item--three">
      <div class="goods__img">
        <a class="goods__link" href="https://www.ulmart.ru/goods/3721039" target="_blank"> 
          <img class="goods__img" src="https://fast.ulmart.ru/ns/verstka/opening_regions/msk/img/3721039.jpg"  width="180"  alt="HD LED телевизор Витязь">
        </a>
      </div>
      <div class="goods__sale">Скидка: 14%</div>
      <div class="goods__code">Промокод: <b>ВИТЯЗЬ</b></div>
      <p class="goods__name">HD LED телевизор Витязь 32", DVB-T2/C/S2</p>
      <div class="goods__price goods__price--three">
        <p class="goods__three-old-price">10 490 р.</p>
        <p class="goods__three-new-price">8 990 р.</p>
      </div>
      <a class="btn" href="https://www.ulmart.ru/goods/3721039" target="_blank">Смотреть</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="goods__item goods__item--three">
      <div class="goods__img">
        <a class="goods__link" href="https://www.ulmart.ru/goods/4143615" target="_blank"> 
          <img class="goods__img" src="https://fast.ulmart.ru/ns/verstka/opening_regions/msk/img/4143615.jpg"  width="180"  alt="Смартфон Apple iPhone 8">
        </a>
      </div>
      <div class="goods__sale">Скидка: 5%</div>
      <p class="goods__name goods__name--p">Смартфон Samsung Galaxy A5 black, 32&nbsp;Гб, 16 Мп</p>
      <div class="goods__price goods__price--three">
        <p class="goods__three-old-price">19 490 р.</p>
        <p class="goods__three-new-price">18 490 р.</p>
      </div>
      <a class="btn" href="https://www.ulmart.ru/goods/4143615" target="_blank">Смотреть</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="goods__item goods__item--three">
      <div class="goods__img">
        <a class="goods__link" href="https://www.ulmart.ru/ goods/4039561" target="_blank"> 
          <img class="goods__img" src="https://fast.ulmart.ru/ns/verstka/opening_regions/msk/img/4039561.jpg"  width="180"  alt="Моноблок Acer Aspire">
        </a>
      </div>
      <div class="goods__sale">Скидка: 29%</div>
      <p class="goods__name goods__name--p">Холодильник ZIFRO ZTR-87LN, 63 см, однокамерный</p>
      <div class="goods__price goods__price--three">
        <p class="goods__three-old-price">7 800 р.</p>
        <p class="goods__three-new-price">5 490 р.</p>
      </div>
      <a class="btn" href="https://www.ulmart.ru/goods/4039561" target="_blank">Смотреть</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="goods__item goods__item--three">
      <div class="goods__img">
        <a class="goods__link" href="https://www.ulmart.ru/goods/3983070" target="_blank"> 
          <img class="goods__img" src="https://fast.ulmart.ru/ns/verstka/opening_regions/msk/img/3983070.jpg"  width="180"  alt="Планшет Lenovo Tab 3 Essential">
        </a>
      </div>
      <div class="goods__sale">Скидка: 35%</div>
      <p class="goods__name goods__name--p goods__name--f">Фитнес-браслет Xiaomi Mi Band 2, пыле-водо защита</p>
      <div class="goods__price goods__price--three">
        <p class="goods__three-old-price">2 790 р.</p>
        <p class="goods__three-new-price">1 790 р.</p>
      </div>
      <a class="btn" href="https://www.ulmart.ru/goods/3983070" target="_blank">Смотреть</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="goods__item goods__item--three">
      <div class="goods__img">
        <a class="goods__link" href="https://www.ulmart.ru/goods/4250067" target="_blank"> 
          <img class="goods__img" src="https://fast.ulmart.ru/ns/verstka/opening_regions/msk/img/4250067.jpg"  width="180"  alt="Мышь Logitech Silent Plus">
        </a>
      </div>
      <div class="goods__sale">Скидка: 28%</div>
      <div class="goods__code">49 руб. за шт.</div>
      <p class="goods__name">Упаковка светодиод. ламп  10 шт Canyon LED E27 2700К</p>
      <div class="goods__price goods__price--three">
        <p class="goods__three-old-price">690 р.</p>
        <p class="goods__three-new-price">490 р.</p>
      </div>
      <a class="btn" href="https://www.ulmart.ru/goods/4250067" target="_blank">Смотреть</a>
    </div>
  </div>



</div>
<div class="button">
  <a class="btn btn--outline" href="https://www.ulmart.ru/" target="_blank">Перейти к выбору</a>
</div>

